
body{
    background: url('/assets/images/slots-background.jpg') no-repeat;
    margin: 0;
    padding: 0;
}

#main-contauner{
    background-color: rgba(3, 3, 3, 0.85);
    margin: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 35px;
   
}

#top{
    margin: 0;
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    
}

#top-imgs{
    height: 100%;
    width: auto;
    display: inline-block;
}

#welcome{
    color: white;
    font-size: 4rem;
    letter-spacing: 5px;
    font-family: Rye, sans-serif;
}

#fruit-container {
    display: flex;
    border: 2px solid black;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#row1 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#row2 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#row3 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#tecnical-container{
    background-color: rgba(129, 104, 104, 0.45);
    display: flex;
    width: 600px;
    margin: auto;
    padding: 1.5rem 0 1rem 0;
    color: aliceblue;
    border-radius: 10px;
}

#technical1 {
    display: inline-block;
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
    
}

#technical1 p{
    display: inline-block;
}

#technical2 {
    flex: 1;
    display: flex;
    justify-content: center;
}


#technical3 {
    flex: 1;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    font-size: 1.5rem;
}

button {
    background-color: rgb(80, 30, 30, 0.8);
    border-radius: 50%;
    
}

button:hover{
    background-color: rgba(136, 106, 106, 0.8);
}

input {
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    display: block;
    outline-offset: -7px;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 30%;
    background: rgba(136, 106, 106, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;
}

.that-span{
    position : absolute;
    bottom : -10px;
    background-color : rgba(0, 0, 0, 0.45);
    text-align : center;
    bottom : 0;
    padding : 3px;
    width : 100%;
    color : white;
}

#popup-title{
    font-family: Rye, sans-serif;
}

#text{
    margin-top: 7%;
    font-family: Pacifico;
    font-size: large;
}

#pay{
    margin-top: 5%;
}

#ok{
    border-radius: 5px;
    font-family: Ray;
    font-size: large;
    padding: 5px 10px;
    margin-left: 30px;
}

.label{
    font-family: Rye;
}

@media (max-width: 1060px) {
    #welcome{
        letter-spacing: 0px;
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    #welcome{  
        margin-top: 15px;
        font-size: 2rem;
    }
    .popup{
        width: 60%;
    }
    #top-imgs{
        display: none;
    }
}


@media (max-width: 650px) {
    #fruit-container{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    #tecnical-container{
        width: 100%;
        height: 60%;
    }
    .label{
        font-size: 10px;
    }
    .popup{
        width: 80%;
    }
}