/* body with background */
body{
    background: url('../images/slots-background.jpg') no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/* all of the content */
#main-contauner{
    overflow: hidden;
    background-color: rgba(3, 3, 3, 0.85);
    margin: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 35px;  
}
/* our header with images on the side */
#top{
    margin: 0;
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
}

#top-imgs{
    height: 100%;
    width: auto;
    display: inline-block;
}
/* welcone to lucky 7 */
#welcome{
    color: white;
    font-size: 4rem;
    letter-spacing: 5px;
    font-family: Rye, sans-serif;
}
/* rolling line */
#explane{
    border-radius: 5px;
    position: relative;
    width: 3600px;
    font-family: rye;
    text-align: center;
    letter-spacing: 2px;
    animation: roll 40s 30 linear;
    height: 25px;
    background-color: white;
    transform: translateX(-100%);
    
}

#explane img {
    display: inline-block;
    position: relative;
    bottom: -4px;
    margin-right: 5px;
}


/* game container wwith images, under it its columns*/
#fruit-container {
    display: flex;
    border: 2px solid black;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#row1 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#row2 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#row3 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
/* tchnical, spin button credit and bet, separated in divs */
#tecnical-container{
    background-color: rgba(129, 104, 104, 0.45);
    display: flex;
    width: 600px;
    margin: auto;
    padding: 1.5rem 0 1rem 0;
    color: aliceblue;
    border-radius: 10px;
}

#technical1 {
    display: inline-block;
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;   
}

#technical1 p{
    display: inline-block;
}

#technical2 {
    flex: 1;
    display: flex;
    justify-content: center;
    
}


#technical3 {
    flex: 1;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    font-size: 1.5rem;
}
/* spin button, bet is input and credit is calculated */
button {
    background-color: rgb(80, 30, 30, 0.8);
    border-radius: 50%;   
}

button:hover{
    background-color: rgba(136, 106, 106, 0.8);
}

#spin{
    width: 80px;
    height: 80px;
}

input {
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
/* images in game container */
img {
    max-width: 100%;
    display: block;
    outline-offset: -7px;
}
/* popup window, before game starts or whenn  you run out of credit */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 30%;
    background: rgba(136, 106, 106, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;
}
/* pan in popup */
.that-span{
    position : absolute;
    bottom : -10px;
    background-color : rgba(0, 0, 0, 0.45);
    text-align : center;
    bottom : 0;
    padding : 3px;
    width : 100%;
    color : white;
}
/* title in popup */
#popup-title{
    font-family: Rye, sans-serif;
}
/* Text what to do in popup */
#text{
    margin-top: 7%;
    font-family: Pacifico;
    font-size: large;
}
/* input field in popup */
#pay{
    margin-top: 5%;
}
/* ok button in popup */
#ok{
    border-radius: 5px;
    font-family: Ray;
    font-size: large;
    padding: 5px 10px;
    margin-left: 30px;
}
/* labels for credit and bet under fruit container */
.label{
    font-family: Rye;
}
/* media queries */
@media (max-width: 1060px) {
    #welcome{
        letter-spacing: 0px;
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    #welcome{  
        margin-top: 15px;
        font-size: 2rem;
    }
    .popup{
        width: 60%;
    }
    #top-imgs{
        display: none;
    }
}


@media (max-width: 650px) {
    #fruit-container{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    #tecnical-container{
        width: 100%;
    }
    .label{
        font-size: 10px;
    }
    .popup{
        width: 80%;
    }
    #main-contauner{
        position: absolute;
        height: 100%;
    }
    #big-win{
        width: 100%;
        height: 50%;
    }
}
/* animation for rolling line */
@keyframes roll {
    0% {
        transform: translateX(57%);
    }
    100%{
        transform: translateX(-100%);
    }
}